.marquee-container {
    overflow: hidden;
    background-color: #3B3B3B;
    color: white;
    font-size: 1.2rem;
    padding: 10px 0;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    white-space: nowrap;
  }
  
  .marquee span {
    display: inline-block;
    padding-left: 100%;
    animation: scroll-ribbon 20s linear infinite;
  }
  
  @keyframes scroll-ribbon {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  